<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="post-container">
          <div class="post-content">
            <div class="form-signin">
              <div class="heading-title">
                  <h2>New blog post</h2>

                    <%= render 'form' %>

             </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end:content --