<!-- begin:detail-option -->
<div class="row">
  <div class="col-md-12">
    <div class="post-container">
      <div class="post-content">
        <div class="detail-option">
          <ul class="list-options">
            <li><a href="#"><i class="fa fa-share-alt"></i> <span>Share</span></a></li>
            <li><a href="#"><i class="fa fa-comment"></i> <span>Comment</span></a></li>
            <li><a href="#"><i class="fa fa-heart"></i> <span>Love</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end:detail-option -->
