<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="post-container">
      <div class="post-desc">
        <h2>Find Your Favorite Project, Portfolio, and Engineer With Rinch for Engineers.</h2>
        <a href="#" class="btn btn-default btn-sm">Learn More &rarr;</a>
      </div>
      <div class="sidebar-menu">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#"><i class="fa fa-clock-o"></i> Newest</a></li>
          <li><a href="#"><i class="fa fa-star-o"></i> Popular</a></li>
          <li><a href="#"><i class="fa fa-bookmark"></i> Most Viewed</a></li>
          <li><a href="#"><i class="fa fa-list-ul"></i> Categories</a></li>
        </ul>
      </div>
    </div>
</div>