<!-- begin:recent-images -->
<div class="row">
  <div class="col-md-12">
    <div class="post-container">
      <div class="post-content">
        <div class="widget-title">
          <h3>Recent Images</h3>
        </div>
        <div class="detail-similiar">
          <ul class="list-similiars">
            <li><a href=""><img src="https://s3.amazonaws.com/rinch/images/sample4.png" class="img-responsive"></a></li>
            <li><a href=""><img src="https://s3.amazonaws.com/rinch/images/sample5.jpg" class="img-responsive"></a></li>
            <li><a href=""><img src="https://s3.amazonaws.com/rinch/images/sample4.png" class="img-responsive"></a></li>
          </ul>
        </div>
        <hr>
        <img src="https://s3.amazonaws.com/rinch/images/man1.jpg" class="img-responsive img-avatar"> See all projects by <a href="#">Greg</a>
      </div>
    </div>
  </div>
</div>
<!-- end:recent-images -->
