<!-- begin:tags -->
<div class="row">
  <div class="col-md-12">
    <div class="post-container">
      <div class="post-content">
        <div class="widget-title">
          <h3>Tags</h3>
        </div>
        <ul class="tags">
          <li><a href="#">CAD</a></li>
          <li><a href="#">Assembly</a></li>
          <li><a href="#">Drawings</a></li>
          <li><a href="#">Rendering</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end:tags -->