<!-- begin:content -->
<div id="content">
    <div class="container">
        <div class="row container-gallery">
            <%= render 'favorites' %>
            <%= render 'container' %>
        
        </div>
    </div>
</div>