    <!-- begin:content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <!-- begin:sidebar -->
          <div class="col-md-3 col-md-push-9 col-sm-4 col-sm-push-8 col-xs-12">
            <!-- begin:detail-option -->
            <div class="row">
              <div class="col-md-12">
                <div class="post-container">
                  <div class="post-content">
                    <div class="detail-option">
                      <ul class="list-options">
                        <li><a href="#"><i class="fa fa-share-alt"></i> <span>Share</span></a></li>
                        <li><a href="#"><i class="fa fa-comment"></i> <span>Comment</span></a></li>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>Love</span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end:detail-option -->

            <!-- begin:recent-images -->
            <div class="row">
              <div class="col-md-12">
                <div class="post-container">
                  <div class="post-content">
                    <div class="widget-title">
                      <h3>Recent Images</h3>
                    </div>
                    <div class="detail-similiar">
                      <ul class="list-similiars">
                        <li><a href=""><img src="https://s3.amazonaws.com/rinch/images/sample4.png" class="img-responsive"></a></li>
                        <li><a href=""><img src="https://s3.amazonaws.com/rinch/images/sample5.jpg" class="img-responsive"></a></li>
                        <li><a href=""><img src="https://s3.amazonaws.com/rinch/images/sample4.png" class="img-responsive"></a></li>
                      </ul>
                    </div>
                    <hr>
                    <img src="https://s3.amazonaws.com/rinch/images/man1.jpg" class="img-responsive img-avatar"> See all projects by <a href="#">Greg</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- end:recent-images -->

            <!-- begin:tags -->
            <div class="row">
              <div class="col-md-12">
                <div class="post-container">
                  <div class="post-content">
                    <div class="widget-title">
                      <h3>Tags</h3>
                    </div>
                    <ul class="tags">
                      <li><a href="#">CAD</a></li>
                      <li><a href="#">Assembly</a></li>
                      <li><a href="#">Drawings</a></li>
                      <li><a href="#">Rendering</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- end:tags -->
          </div>
          <!-- end:sidebar -->

          <!-- begin:article -->
          <div class="col-md-9 col-md-pull-3 col-sm-8 col-sm-pull-4 col-xs-12">
            <!-- begin:article-content -->
            <div class="row">
              <div class="col-md-12">
                <div class="post-container">
                  <div class="post-content">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="detail-meta">
                          <span><em>in</em> <a href="#">Projects</a></span>
                          <span><em>by</em> <a href="#">Greg</a></span>
                          <span><em>April 10, 2016</em></span>
                          <span><a href="#">3 comments</a></span>
                        </div>
                        <div class="detail-heading-title">
                          <h2>Lorem ipsum dolor sit amet.</h2>
                        </div>

                        <img src="https://s3.amazonaws.com/rinch/images/sample1.png" class="img-responsive" alt="detail fransisca gallery">
                        <br>
                        <div class="detail-meta">
                          <span><em>Tags : </em> <a href="#">Drawing</a>, <a href="#">CAD</a>, <a href="#">Assembly</a></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end:article-content -->

            <!-- begin:description -->
            <div class="row">
              <div class="col-md-12">
                <div class="post-container">
                  <div class="post-content">
                    <div class="heading-title">
                      <h3>Description</h3>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end:description -->

            <!-- begin:comments -->
            <div class="row">
              <div class="col-md-12">
                <div class="post-container">
                  <div class="post-content">
                    <div class="heading-title">
                      <h3>3 Comments On This Image</h3>
                    </div>

                    <!-- begin:comment-list -->
                    <div class="comments">
                      <ul>
                        <li>
                          <div class="comment-container">
                            <div class="comment-meta">
                              <img src="https://s3.amazonaws.com/rinch/images/man1.jpg" height="42" width="42" alt="comment avatar" class="img-responsive comment-avatar">
                              <span class="comment-author"><a href="#">John Doe</a></span>
                              <span class="comment-date">July 16th, 2014 at 4:49 pm</span>
                              <span class="comment-reply"><a href="#"><em>Reply</em></a></span>
                            </div>
                            <div class="comment-text">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat.</p>
                            </div>
                          </div>
                        </li>
                        <!-- break -->
                        <li>
                          <div class="comment-container">
                            <div class="comment-meta">
                              <img src="https://s3.amazonaws.com/rinch/images/man1.jpg" height="42" width="42" alt="comment avatar" class="img-responsive comment-avatar">
                              <span class="comment-author"><a href="#">John Doe</a></span>
                              <span class="comment-date">July 16th, 2014 at 4:49 pm</span>
                              <span class="comment-reply"><a href="#"><em>Reply</em></a></span>
                            </div>
                            <div class="comment-text">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat.</p>
                            </div>
                          </div>
                          <!-- break -->
                          <ul>
                            <li>
                              <div class="comment-container">
                                <div class="comment-meta">
                                  <img src="https://s3.amazonaws.com/rinch/images/avatar.jpg" height="42" width="42" alt="comment avatar" class="img-responsive comment-avatar">
                                  <span class="comment-author"><a href="#">John Doe</a></span>
                                  <span class="comment-date">July 16th, 2014 at 4:49 pm</span>
                                  <span class="comment-reply"><a href="#"><em>Reply</em></a></span>
                                </div>
                                <div class="comment-text">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                  consequat.</p>
                                </div>
                              </div>
                            </li>
                          </ul>
                          <!-- break -->
                        </li>
                        <!-- break -->
                      </ul>
                    </div>
                    <!-- end:comment-list -->

                    <!-- begin:post-comment -->
                    <div class="post-comment">
                      <div class="heading-title">
                        <h3>Post Comment</h3>
                      </div> 

                      <form role="form">
                        <div class="form-group">
                          <label for="comment" class="sr-only">Comment</label>
                          <textarea class="form-control" rows="5" placeholder="Enter Comment:"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="name" class="sr-only">Name</label>
                          <input type="text" class="form-control" placeholder="Name:">
                        </div>
                        <div class="form-group">
                          <label for="email" class="sr-only">Email</label>
                          <input type="email" class="form-control" placeholder="Email:">
                        </div>
                        <div class="form-group">
                          <label for="website" class="sr-only">Website</label>
                          <input type="email" class="form-control" placeholder="Website:">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                    <!-- end:post-comment -->

                  </div>
                </div>
              </div>
            </div>
            <!-- end:comments -->

          </div>
          <!-- end:article -->
          
        </div>
      </div>
    </div>
    <!-- end:content -->