<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="heading-title">
                <%- model_class = Image -%>
                    <div class="page-header">
                      <h1><%=t '.title', default: [:'helpers.titles.edit', 'Edit %{model}'], model: model_class.model_name.human.titleize %></h1>
                    </div>
                <%= render partial: 'form' %>
                </div>
            </div>
        </div>
    </div>
</div>