<!-- begin:content -->
    <div id="content">
      <div class="container">
        <div class="row">
          
          <%= render 'shared/profile_bar' %>
          <!-- break -->
          <div class="col-md-9 col-sm-8 col-xs-12">
            <div class="post-container">
              <div class="post-content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="heading-title">
                      <h3>About</h3>
                      <hr>
                      <h2><%= @account.first_name %> <%= @account.last_name %></h2>
                    </div>
                    <p><%= @account.description %></p>
                  </div>
                </div>
                <!-- break -->
                <hr>
                <div class="row">
                  <div class="col-md-12">
                    <div class="heading-title">
                      <h2>Portfolio</h2>
                    </div>
                  </div>
                </div>
                <!-- break -->
                <div class="row wrapper-portfolio">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="portfolio-container">
                      <div class="portfolio-img">
                        <img src="https://s3.amazonaws.com/rinch/images/sample3.jpg" class="img-responsive" alt="portfolio fransisca gallery">
                        <a href="img/img-portfolio01.jpg" class="img-slideshow" title="Portfolio 01"><i class="fa fa-plus"></i></a>
                      </div>
                      <h3><a href="detail.html">Lorem ipsum dolor.</a></h3>
                      <div class="portfolio-desc">
                        <ul class="list-meta list-inline">
                          <li><i class="fa fa-eye"></i> 117</li>
                          <li><i class="fa fa-comment"></i> 7</li>
                          <li><i class="fa fa-cloud-download"></i> 8</li>
                          <li><i class="fa fa-heart"></i> 9</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- break -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="portfolio-container">
                      <div class="portfolio-img">
                        <img src="https://s3.amazonaws.com/rinch/images/sample5.jpg" class="img-responsive" alt="portfolio fransisca gallery">
                        <a href="img/img-portfolio02.jpg" class="img-slideshow" title="Portfolio 02"><i class="fa fa-plus"></i></a>
                      </div>
                      <h3><a href="detail.html">Lorem ipsum dolor sit amet</a></h3>
                      <div class="portfolio-desc">
                        <ul class="list-meta list-inline">
                          <li><i class="fa fa-eye"></i> 117</li>
                          <li><i class="fa fa-comment"></i> 7</li>
                          <li><i class="fa fa-cloud-download"></i> 8</li>
                          <li><i class="fa fa-heart"></i> 9</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- break -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="portfolio-container">
                      <div class="portfolio-img">
                        <img src="https://s3.amazonaws.com/rinch/images/sample6.jpg" class="img-responsive" alt="portfolio fransisca gallery">
                        <a href="img/img-portfolio03.jpg" class="img-slideshow" title="Portfolio 03"><i class="fa fa-plus"></i></a>
                      </div>
                      <h3><a href="detail.html">Lorem ipsum dolor sit amet consectetur</a></h3>
                      <div class="portfolio-desc">
                        <ul class="list-meta list-inline">
                          <li><i class="fa fa-eye"></i> 117</li>
                          <li><i class="fa fa-comment"></i> 7</li>
                          <li><i class="fa fa-cloud-download"></i> 8</li>
                          <li><i class="fa fa-heart"></i> 9</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <ul class="pagination">
                      <li><a href="#">&laquo;</a></li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#">&raquo;</a></li>
                    </ul>
                  </div>
                  <!-- break -->
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- end:content -->